/*CSS Stylesheet*/
/*navbar*/

#navBar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #9CD8B9;
}

#navBar li {
    float: left;
}

#navBar li a{
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    display: block;
    color: #808080;
    text-decoration: none;
}

#navBar li a:hover:not(.activeClass) {
    background-color: #94778B;
    color: white;
}

#navBar .activeClass {
    background-color: #829298;
    color: white;
}

body {
    text-align: center;
    background-color: #E9DCD0;
}


#mainBox {
    border: 1px solid black;
    padding: 20px;
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    align-content: center;
}




/*previous*/
#main-wrapper{
    border-radius: 10px;
    background-color: white;
    border: 3px solid #f1f1f1;
    width: 500px;
    margin: 0 auto;
}

.inner_container{
    width: 450px;
    margin: 0 auto;
}

input{
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ccc;
}

#btn_go{
    background-color: #3498db;
    color: white;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#btn_insert{
    background-color: #2ecc71;
    color: white;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#btn_update{
    background-color: #f39c12;
    color: white;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

#btn_delete{
    background-color: #e74c3c;
    color: white;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}